.button{
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.04em;
}
.flatpickr-input{
    width: 189px;
    margin-right: 5px;
}


.timer{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.field{
    display: flex;
    flex-direction: column;
    gap:5px;
 }
 .value {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
 }
 .label{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
 }